{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Settings UI Design</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/st.css' %}">

</head>

<body>
	
	<div class="nav containerr">
		<a href="{% url 'index' %}" class="logo">Movie<span>Verse</span></a>
	
			<form action="{% url 'search-bar' %}" method="get">
				{%csrf_token%}
								
						<div class="search-box">
							<input type="search" name="search" id="search-input" placeholder="Search" />
							<button type="submit" class="Sicon"><i class='bx bx-search'></i></button>
						</div>
			</form>
	
			<div class="navbar-nav">
				{% if user.is_authenticated %}
				<a class="nav-item nav-link" href="{% url 'profile-page'%}">profile</a>
				<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
	
				{% else %}
				<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
				<a class="nav-item nav-link" href="{% url 'sign-up' %}">Register</a>
				{% endif %}
			  </div>
			  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
    {% endif %}
	<section class="ee">
		<div class="containe">
			<h1 class="ss">Account Settings</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3 ">
							<img src="{{ user.userprofile.image.url }}" alt="Image" class="shadow">
						</div>
						<h4 class="text-center ff">{{user.username}}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1 "></i> 
							Account
						</a>
		
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						{% comment %} <h3 class="mb-4">Account Settings</h3> {% endcomment %}
						<div class="row">
                            <form method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
							<div class="col-md-6">
                                
								<div class="form-group">
                                    {{ u_form}}
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
                                    {{ p_form}}
								</div>
							</div>
							<div>
								<button class="btn btn-primary">Update</button>
								<button class="btn btn-light">Cancel</button>
							</div>
                        </form>
							
							
						
							
						</div>
						
					</div>
			
					
				</div>
			</div>
		</div>
	</section>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>