:root {
    --main-color:#f30404;
    --hover-color:hsl(249, 48%, 36%);
    --body-color:#1e1e2a;
    --container-color:#2d2e37;
    --text-color:#fcfeff;
}

   
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #999999;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: var(--text-color);
}

h3{
    font-weight: lighter;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
    font-weight: bold;
    color: var(--text-color);
}

img{
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../img1/main.jpg') no-repeat center center/cover;
}

.container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}

.nav{
    position: relative;
    z-index: 2;
    height: 90px;
}

.nav img{
    width: 150px;
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(40% , -50%);
    
}

.nav a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60% , -50%);
}

.content{
    position: relative;
    margin: 3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.content h1{
    font-weight: 700;
    font-size: 64px;
    margin: 0 30px;
    max-width: 800px;
    line-height: 74.5px;
}

.content h3{
    color: white;
    font-size: 25px;
    margin: 16px 0;
}

.content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.content .inp {
    justify-content: center;
    position: relative;
    left: 0;
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    width: 350px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    outline: none;
    border-width: 0 0 2px 0;
    
}

.btn{
    display: inline-block;
    background: var(--main-color);
    color: var(--body-color);
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 1px var(--body-color);
}

.btn:hover{
    opacity: 0.9;
    background: var(--hover-color);
}

.btn-rounded{
    border-radius: 5px;
    margin-bottom: 30px;
}

.content .btn-s{
    width: 150px;
    font-size: 1.2rem;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
 .content i{

    z-index: 9999;
    margin-left: 300px;
    margin-top: -32px;
 }
 .login-lik{
    position: relative;
    margin: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 17px;
    
 }
 .login-lik span{
    font-size: 20px;
 }
 .messages {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 300px;
    margin-inline-end: 375px;
    padding-inline-start: 120px;
    padding: 0.5rem;
    
    justify-content: center;
    border: 50px 50px 8px 8px;
    border-radius: 5px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(223, 12, 12);
    background-color: #ffffff;
}