* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #1e1e2a;
}
.logo{
    font-size: 18px;
    font-weight: 400%;
    
    padding: 34rem; 
    color: #f30404;
    
    
}
.container {
    background-color: rgb(187, 160, 160);
    margin: 4rem;
    border: 0.1rem solid black;
    border-radius: 1rem ;
    position: relative;
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .profile-info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .profile-info img {
    width: 12rem;
    height: 12rem;
    border: 0.1rem black solid;
    border-radius: 50%;
}

.container .profile-info .infos {
    text-align: center;
    margin: 2rem;
}

.container .update {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .update h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    display: block;

}

.container .update input {
    border-radius: 0.5rem;
}

.container .update .input-side {
    display: block;
}

.container .update .btn {
    display: block;
    margin-top: 2rem;
    border: 0.01rem black solid;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgb(21, 81, 247);
    color: black;
    cursor: pointer;
}